JWT_REFRESH_SECRET=
JWT_SECRET=
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=madrasah_app
MYSQL_PASSWORD=
MYSQL_DATABASE=madrasah_db
SUPABASE_SECRET_KEY=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=
